In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/nfl_qb_stats_partial.csv')

In [3]:
# Drop null column
df = df.drop(df.columns[-1], axis=1)

In [4]:
# Drop duplicates
df = df.drop_duplicates()

In [5]:
df.shape

(11895, 32)

In [6]:
# Set column names
df.columns = 'Player Rate Att Day G# Week Date Age Team Game_Location Opp Result Cmp Att Inc Cmp% Yds TD Int Pick6 TD% Int% Rate Sk Yds Sk% Y/A AY/A ANY/A Y/C Succ% Pos.'.split(' ')

In [7]:
df.head()

,Player,Rate,Att,Day,G#,Week,Date,Age,Team,Game_Location,...,Rate,Sk,Yds,Sk%,Y/A,AY/A,ANY/A,Y/C,Succ%,Pos.
0,Joseph Addai,158.3,1,Sun,7,8,2009-11-01,26-182,IND,game_location,...,158.3,0,0,0.00,22.0,42.0,42.00,22.0,100.0,RB
1,David Akers,158.3,1,Sun,16,17,2012-01-01,37-023,SFO,@,...,158.3,0,0,0.00,14.0,34.0,34.00,14.0,100.0,K
2,Josh Allen,158.3,25,Sun,4,4,2023-10-01,27-133,BUF,game_location,...,158.3,2,10,7.41,12.8,16.0,14.44,15.2,74.1,QB
3,Keenan Allen,158.3,1,Sun,3,3,2023-09-24,31-150,LAC,@,...,158.3,0,0,0.00,49.0,69.0,69.00,49.0,100.0,WR
4,Danny Amendola,158.3,1,Thu,8,8,2018-10-25,32-357,MIA,@,...,158.3,0,0,0.00,28.0,48.0,48.00,28.0,100.0,WR

In [8]:
# Home vs. Away game location
df['Game_Location'] = np.where(df['Game_Location'] == 'game_location', 'Home', 'Away')

In [9]:
# Remove non-quarterbacks
df = df[df['Pos.'] == 'QB']

In [10]:
df.shape # removed over 600 random rows of non-QBs

(11235, 32)

In [11]:
df.head()

,Player,Rate,Att,Day,G#,Week,Date,Age,Team,Game_Location,...,Rate,Sk,Yds,Sk%,Y/A,AY/A,ANY/A,Y/C,Succ%,Pos.
2,Josh Allen,158.3,25,Sun,4,4,2023-10-01,27-133,BUF,Home,...,158.3,2,10,7.41,12.8,16.00,14.44,15.2,74.1,QB
6,Derek Anderson,158.3,6,Sun,3,3,2014-09-21,31-098,CAR,Home,...,158.3,0,0,0.00,13.3,16.67,16.67,16.0,66.7,QB
15,Tom Brady,158.3,25,Sun,7,7,2007-10-21,30-079,NWE,Away,...,158.3,1,10,3.85,14.2,18.96,17.85,16.9,73.1,QB
16,Tom Brady,158.3,27,Thu,11,12,2010-11-25,33-114,NWE,Away,...,158.3,1,3,3.57,12.6,15.59,14.93,16.2,60.7,QB
17,Tom Brady,158.3,27,Sat,15,16,2020-12-26,43-145,TAM,Away,...,158.3,1,7,3.57,12.9,15.85,15.04,15.8,75.0,QB

In [20]:
df.columns

Index(['Player', 'Rate', 'Att', 'Day', 'G#', 'Week', 'Date', 'Age', 'Team',
       'Game_Location', 'Opp', 'Result', 'Cmp', 'Att', 'Inc', 'Cmp%', 'Yds',
       'TD', 'Int', 'Pick6', 'TD%', 'Int%', 'Rate', 'Sk', 'Yds', 'Sk%', 'Y/A',
       'AY/A', 'ANY/A', 'Y/C', 'Succ%', 'Pos.'],
      dtype='object')

### Add Playoff Data

In [12]:
playoffs_df = pd.read_csv('./data/playoffs_stathead_nfl_qb_stats_partial.csv')

In [13]:
playoffs_df.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,Jameis Winston,158.3,2020,26,NOR,1,0,1,1,0,...,56.0,56.0,100.0,qb_w,qb_l,0,0,0,QB,NaN
1,Josh Allen,149.0,2021,25,BUF,2,2,48,62,14,...,13.3,318.5,59.4,1,1,0,0,0,QB,NaN
2,Baker Mayfield,146.5,2024,29,TAM,1,1,15,18,3,...,12.3,185.0,63.2,0,1,0,0,0,QB,NaN
3,Michael Vick,135.4,2009,29,PHI,1,0,1,2,1,...,76.0,76.0,50.0,qb_w,qb_l,0,0,0,QB,NaN
4,Matt Ryan,135.3,2016,31,ATL,3,3,70,98,28,...,14.5,338.0,57.5,2,1,0,0,0,QB,NaN

In [14]:
# Drop null column
playoffs_df = playoffs_df.drop(playoffs_df.columns[-1], axis=1)

In [16]:
# Set column names
playoffs_df.columns = 'Player,Rate,Season,Age,Team,G,GS,Cmp,Att,Inc,Cmp%,Yds,TD,Int,Pick6,TD%,Int%,Rate,Sk,Yds,Sk%,Y/A,AY/A,ANY/A,Y/C,Y/G,Succ%,W,L,T,4QC,GWD,Pos'.split(',')

In [ ]:
# Remove non-quarterbacks
playoffs_df = playoffs_df[playoffs_df['Pos.'] == 'QB']

In [17]:
playoffs_df.head()

,Player,Rate,Season,Age,Team,G,GS,Cmp,Att,Inc,...,ANY/A,Y/C,Y/G,Succ%,W,L,T,4QC,GWD,Pos
0,Jameis Winston,158.3,2020,26,NOR,1,0,1,1,0,...,76.00,56.0,56.0,100.0,qb_w,qb_l,0,0,0,QB
1,Josh Allen,149.0,2021,25,BUF,2,2,48,62,14,...,12.52,13.3,318.5,59.4,1,1,0,0,0,QB
2,Baker Mayfield,146.5,2024,29,TAM,1,1,15,18,3,...,11.74,12.3,185.0,63.2,0,1,0,0,0,QB
3,Michael Vick,135.4,2009,29,PHI,1,0,1,2,1,...,48.00,76.0,76.0,50.0,qb_w,qb_l,0,0,0,QB
4,Matt Ryan,135.3,2016,31,ATL,3,3,70,98,28,...,10.71,14.5,338.0,57.5,2,1,0,0,0,QB

In [19]:
[x for x in playoffs_df.columns if x not in df.columns]

['Season', 'G', 'GS', 'Y/G', 'W', 'L', 'T', '4QC', 'GWD', 'Pos']

In [18]:
# Find the difference in columns
list(set(df.columns) - set(playoffs_df))

['Opp', 'Pos.', 'Week', 'Result', 'Date', 'G#', 'Game_Location', 'Day']

### Column Definitions

Playoffs:
-

### Concatenate dataframes