In [1]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('./data/nfl_qb_stats_partial.csv')

In [23]:
# Drop null column
df = df.drop(df.columns[-1], axis=1)

In [24]:
# Drop duplicates
df = df.drop_duplicates()

In [25]:
df.shape

(11895, 32)

In [26]:
# Set column names
df.columns = 'Player Rate Att Day G# Week Date Age Team Game_Location Opp Result Cmp Att Inc Cmp% Yds TD Int Pick6 TD% Int% Rate Sk Yds Sk% Y/A AY/A ANY/A Y/C Succ% Pos.'.split(' ')

In [30]:
df.head()

,Player,Rate,Att,Day,G#,Week,Date,Age,Team,Game_Location,...,Rate,Sk,Yds,Sk%,Y/A,AY/A,ANY/A,Y/C,Succ%,Pos.
0,Joseph Addai,158.3,1,Sun,7,8,2009-11-01,26-182,IND,Home,...,158.3,0,0,0.00,22.0,42.0,42.00,22.0,100.0,RB
1,David Akers,158.3,1,Sun,16,17,2012-01-01,37-023,SFO,Away,...,158.3,0,0,0.00,14.0,34.0,34.00,14.0,100.0,K
2,Josh Allen,158.3,25,Sun,4,4,2023-10-01,27-133,BUF,Home,...,158.3,2,10,7.41,12.8,16.0,14.44,15.2,74.1,QB
3,Keenan Allen,158.3,1,Sun,3,3,2023-09-24,31-150,LAC,Away,...,158.3,0,0,0.00,49.0,69.0,69.00,49.0,100.0,WR
4,Danny Amendola,158.3,1,Thu,8,8,2018-10-25,32-357,MIA,Away,...,158.3,0,0,0.00,28.0,48.0,48.00,28.0,100.0,WR

In [29]:
# Home vs. Away game location
df['Game_Location'] = np.where(df['Game_Location'] == 'game_location', 'Home', 'Away')

In [31]:
# Remove non-quarterbacks
df = df[df['Pos.'] == 'QB']

In [32]:
df.shape

(11235, 32)